name: CDK

on:
  pull_request:
    branches:
      - main

jobs:
  diff:
    permissions:
      contents: read
      pull-requests: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - name: Synthesize
        run: uv run --no-dev npx cdk synth
      - uses: corymhall/cdk-diff-action@v2
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
