name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - name: Check
        run: uv run ruff check
      - name: Format
        run: uv run ruff format --check
  deploy:
    name: Deploy
    needs: [lint]
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    environment:
      name: deploy
      url: ${{ steps.deploy.outputs.api_url }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - name: CDK Deploy
        id: deploy
        run: |
          uv run --no-dev npm run cdk -- deploy --require-approval never --all
          API_URL=$(aws cloudformation describe-stacks --stack-name stac-fastapi-geoparquet-examples --query 'Stacks[0].Outputs[?OutputKey==`ApiURL`].OutputValue' --output text)
          echo "::notice title=API URL::${API_URL}"
          echo api_url=$API_URL >> $GITHUB_OUTPUT
